<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.personalblog.dao.dao.PbBlogDao">

    <insert id="insertBlogDetail" parameterType="com.bbs.personalblog.dao.entity.Blog">
        INSERT INTO blog_show_table (
	    b_show_id,
	    b_show_title,
	    b_show_label,
	    b_show_time,
	    b_simple_content,
	    b_full_content,
	    b_send_flag,
	    b_pic_url,
	    b_show_ip,
	    b_author_id,
	    b_from_id)
        VALUES
	  (
		#{blogId,jdbcType=VARCHAR},
		#{blogTitle,jdbcType=VARCHAR},
		#{blogLabel,jdbcType=VARCHAR},
		#{blogTime,jdbcType=VARCHAR},
		#{blogSimpleContent,jdbcType=VARCHAR},
		#{blogContent,jdbcType=VARCHAR},
		#{sendStatus,jdbcType=INTEGER},
		#{blogPicUrl,jdbcType=VARCHAR},
		#{ip,jdbcType=VARCHAR},
		#{blogAuthorId,jdbcType=INTEGER},
		#{blogFromId,jdbcType=INTEGER})
    </insert>

    <select id="selectBlogByType" parameterType="java.lang.Integer" resultType="Blog">
        SELECT
        pb.id AS id,
        pb.title AS title,
        pb.tag AS tag,
        pb.thumb_pic AS thumbPic,
        pb.summary AS summary,
        pb.type AS type,
        pb.`status` AS status,
        pb.create_date AS createDate,
        ps.`name` AS userName,
        pv.blog_pv AS blogPv
        FROM
        pb_blog pb
        INNER JOIN pb_user ps ON pb.user_id = ps.id
        INNER JOIN pb_blog_pv pv ON pb.id = pv.id
        <if test="blogType != 0">
            WHERE
            pb.type = #{blogType}
        </if>
        ORDER BY
        pb.create_date DESC
        LIMIT #{pageNum},10
    </select>

    <select id="selectTagCount" resultType="com.bbs.personalblog.dao.entity.Tag">
        SELECT
            b.tag AS label,
            COUNT(*) AS count
        FROM
            pb_blog b
        GROUP BY
            b.tag
    </select>

    <select id="selectBlogById" parameterType="String" resultType="com.bbs.personalblog.dao.entity.Blog">
        SELECT
            p.id AS id,
            p.title AS title,
            p.create_date AS createDate,
            p.content AS content,
            p.tag AS tag,
            pu.name AS userName,
            pv.blog_pv AS blogPv
        FROM
            pb_blog p
        RIGHT JOIN pb_user pu ON p.user_id = pu.id
        RIGHT JOIN pb_blog_pv pv ON pv.id = p.id
        WHERE
            p.id = #{id}
    </select>

    <select id="selectBlogByCount" resultType="Blog">
        SELECT
            pg.id AS id,
            pg.title AS title,
            pg.tag AS tag,
            pg.thumb_pic AS thumbPic,
            pg.create_date AS createDate,
            pv.blog_pv AS blogPv
        FROM
            pb_blog pg
        INNER JOIN pb_blog_pv pv ON pg.id = pv.id
        ORDER BY
            pv.blog_pv DESC
        LIMIT 5
    </select>

    <update id="increaseBlogPv" parameterType="java.lang.String">
        update pb_blog_pv
        set blog_pv=blog_pv+1
        where id = #{id,jdbcType=VARCHAR}
    </update>


</mapper>